<aside class="education aside section">
  <div class="section-inner">
    <h2 class="heading">Education</h2>
    <div class="content">
      <div class="item">                      
        <h3 class="title"><i class="fas fa-graduation-cap"></i> MSc Computer Science</h3>
        <h4 class="university">University College London <span class="year">(2011-2012)</span></h4>
      </div><!--//item-->
      <div class="item">
        <h3 class="title"><i class="fas fa-graduation-cap"></i> BSc Computer Science</h3>
        <h4 class="university">University of Bristol <span class="year">(2008-2011)</span></h4>
      </div><!--//item-->
    </div><!--//content-->
  </div><!--//section-inner-->
</aside><!--//section-->
