<!-- ******HEADER****** --> 
    <header class="header">
        <div class="container clearfix">                       
            <img class="profile-image img-fluid float-left" src="/images/profile.png" alt="James Lee" />
            <div class="profile-content float-left">
                <h1 class="name">James Lee</h1>
                <h2 class="desc">Web App Developer</h2>   
                <ul class="social list-inline">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>                   
                    <li class="list-inline-item"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-github-alt"></i></a></li>    
                    <li class="list-inline-item"><a href="#"><i class="fab fa-stack-overflow"></i></a></li>   
                    <li class="list-inline-item last-item"><a href="#"><i class="fab fa-codepen"></i></a></li>                
                </ul> 
            </div><!--//profile-->
            <a class="btn btn-cta-primary float-right" href="https://themes.3rdwavemedia.com/" target="_blank"><i class="fas fa-paper-plane"></i> Contact Me</a>              
        </div><!--//container-->
    </header><!--//header-->
