<section class="github section">
  <div class="section-inner">
    <h2 class="heading">My GitHub</h2>
    <p>You can embed your GitHub contribution graph calendar using IonicaBizau's <a href="https://github.com/IonicaBizau/github-calendar" target="_blank">GitHub Calendar</a> widget. 
                        
      <div id="github-graph" class="github-graph">

      </div><!--//github-graph-->

    <p>You can also embed your GitHub activities using Casey Scarborough's <a href="https://caseyscarborough.com/projects/github-activity/" target="_blank">GitHub Activity Stream</a> widget.        
      <!--//Usage: https://caseyscarborough.com/projects/github-activity/ -->                       
      <div id="ghfeed" class="ghfeed">
      </div><!--//ghfeed-->
      
  </div><!--//secton-inner-->
</section><!--//section-->
