<aside class="testimonials aside section">
  <div class="section-inner">
    <h2 class="heading">Testimonials</h2>
    <div class="content">
      <div class="item">
        <blockquote class="quote">                                  
          <p><i class="fas fa-quote-left"></i>James is an excellent software engineer and he is passionate about what he does. You can totally count on him to deliver your projects!</p>
        </blockquote>                
        <p class="source"><span class="name">Tim Adams</span><br /><span class="title">Curabitur commodo</span></p>                                                             
      </div><!--//item-->
      
      <p><a class="more-link" href="#"><i class="fas fa-external-link-alt"></i>More on Linkedin</a></p> 
      
    </div><!--//content-->
  </div><!--//section-inner-->
</aside><!--//section-->
