<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>
  {{ partial "header.html" . }}
  <div class="container sections-wrapper">
    <div class="row">
      <div class="primary col-lg-8 col-12">
        {{ partial "aboutMe.html" . }}
        {{ partial "latestProjects.html" . }}
        {{ partial "otherProjects.html" . }}
        {{ partial "workExperience.html" . }}
        {{ partial "myGitHub.html" . }}
      </div><!--//primary-->
      <div class="secondary col-lg-4 col-12">
        {{ partial "basicInformation.html" . }}
        {{ partial "skills.html" . }}
        {{ partial "testimonials.html" . }}
        {{ partial "education.html" . }}
        {{ partial "languages.html" . }}
        {{ partial "latestBlogPosts.html" . }}
        {{ partial "favoriteCodingMusic.html" . }}
        {{ partial "conferences.html" . }}
        {{ partial "credits.html" . }}
      </div><!--//secondary-->    
    </div><!--//row-->
  </div><!--//masonry-->
  {{ partial "footer.html" . }}
  {{ partial "plugins.html" . }}
</body>
</html>
